<div class="end">
  <a href="/profile">Home</a>
  <h1 class="main-score">{{avg}}</h1>

  <div class="end stats">
    <div class="sentences">
      {{#each completed}}
        <p class="english">{{this.translation.english}}</p>
        <p class="spanish">{{this.translation.spanish}}</p>
      {{/each}}
    </div>
    <a href="/profile">Home</a>
    {{#if next}}
    <a href="/learn/create">Next Lesson</a>
    {{/if}}
    <a href="/learn/repeat/{{lessonNumber}}">Repeat Lesson</a>
  </div>
  <div><canvas id="sentences" data-sentence="{{completed}}"></canvas></div>
</div>