<div class="scoreBar" id="scoreBar"></div>
<div class="exercise">
  <div class="spanish">{{spanish}}</div>
  <div class="english" id="english" data-english="{{english}}">
      {{#each english}}
      <button class="word" id="answerDisplay{{@index}}"></button>
      {{/each}}
  </div>
  <div class="block" id="block">
    {{#each buttonWords}}
      <button class="word" id="buttonWord{{@index}}">{{this}}</button>
    {{/each}}
  </div>
  <a href="/learn/end">Exit</a>
</div>
<script src="/javascript/front.learn.js"></script>