<div class="practice-container">
  <div class="scorebar-container">
    <a href="/" id="exitButton"><div class="x"></div></a>
    <div class="scorebar" id="scoreBar"><div class="time-bar" id="timeBar"></div></div>
  </div>
  <div class="exercise">
    <div class="spanish">{{spanish}}</div>
    <div class="answer-block" id="answer" data-answer="{{answer}}">
        {{#each answer}}
        <div class="button-words answer" id="answerDisplay{{@index}}"></div>
        {{/each}}
    </div>
    <div class="buttons-block" id="block">
      {{#each buttons}}
        <div class="button-words" id="buttonWord{{@index}}">{{this}}</div>
      {{/each}}
    </div>
  </div>
</div>
<script src="/javascript/front.learn.js"></script>