<h1>Level {{userLevel}}</h1>
<h2>Lessons {{lessonNumber}} / {{totalLessons}}</h2>
<h3>Avg Score {{allLessonAvg}}</h3>
<div class="level-chart"><canvas id="level-chart" data-level="{{lessonNumber}},{{totalLessons}}"></canvas></div>
<div class="lessons-chart"><canvas id="lessons-chart" data-lesson="{{allLessonsAvg}}"></canvas></div>
<script src="/javascript/front.profile.js"></script>