<div class="exercise">
  <div class="spanish">{{spanish}}</div>
  <div class="block" id="block">
    {{#each shuffleBlock}}
      <button class="word" id="buttonWord{{@index}}">{{this}}</button>
    {{/each}}
  </div>
  <div class="english" id="english">
    {{#each english}}
      <div class="word" id="answerWord{{@index}}">{{this}}</div>
    {{/each}}
  </div>
</div>