{{#each students}}

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../images/pixel-selfie.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{this.firstname}} {{this.lastname}}</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Level: {{this.level}}</li>
        <li class="list-group-item">Teacher assigned: {{this.teacheremail}}</li>
        <li class="list-group-item">Challenges: {{this.lessonNumber}}/{{this.lessons.lenght}}</li>
    </ul>
    <div class="card-body">
        <a href="teach/{{this._id}}" class="btn btn-primary">Go to Statistics</a>

    </div>
</div>


{{/each}}
<script src="/javascript/front.teach.js"></script>